* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: #fff;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

img {
  width: 500px;
  height: 500px;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  background-color: rgb(43, 203, 73);
  color: #111;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 3px 5px 2px rgba(43, 203, 73, 0.4);
  transition: transform 0.3s ease;
  font-weight: 600;
  font-size: 1rem;
}

a:hover {
  transform: translateY(-3px);
}
