* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Base */
  --toast-bg: #ffffff;
  --toast-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  --toast-text: #1f2937;

  /* SUCCESS */
  --success-icon-bg: #2e7d32;
  --success-bar: #2e7d32;
  --success-text: #1b5e20;

  /* ERROR */
  --error-icon-bg: #d32f2f;
  --error-bar: #d32f2f;
  --error-text: #7f1d1d;

  /* WARNING */
  --warning-icon-bg: #f9a825;
  --warning-bar: #f9a825;
  --warning-text: #92400e;
}

body {
  min-height: 100vh;
  background-color: rgb(238, 228, 241);
  padding: 20px;
  font-family: sans-serif;
  overflow-x: hidden;
}

.button-container {
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.button-container button {
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #222;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button-container button:hover {
  transform: translateY(-3px);
}

.toast-container {
  font-size: 1rem;
  width: 350px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  caret-color: transparent;
}

.toast {
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: var(--toast-shadow);
  /* position: absolute; */
  animation: enterFromRight 0.5s linear;
}

.toast-content {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 1rem 0.95rem;
  font-size: 1.2rem;
}

.toast-content i {
  font-size: 1.5rem;
}

.toast-timer {
  width: 100%;
  height: 4px;
  display: block;
  animation: reduceTimer 3s linear forwards;
}

.toast-timer.success {
  background-color: var(--success-bar);
}
.toast-timer.error {
  background-color: var(--error-bar);
}
.toast-timer.invalid {
  background-color: var(--warning-bar);
}

i.success {
  color: var(--success-bar);
}
i.error {
  color: var(--error-bar);
}
i.invalid {
  color: var(--warning-bar);
}

@keyframes enterFromRight {
  0% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes reduceTimer {
  0% {
    width: 100%;
  }

  20% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
