@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --PRIMARY-COLOR: #2b5876;
  --SECONDARY-COLOR: #4e4376;
  --WEAK-COLOR: #fc8181;
  --MEDIUM-COLOR: #fbd38d;
  --STRONG-COLOR: #68d391;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(
    45deg,
    var(--PRIMARY-COLOR),
    var(--SECONDARY-COLOR)
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  padding: 20px;
}

.container {
  background-color: #fff;
  padding: 2.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 450px;
}

h1 {
  text-align: center;
  margin-bottom: 1.8rem;
  color: var(--PRIMARY-COLOR);
  position: relative;
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    45deg,
    var(--PRIMARY-COLOR),
    var(--SECONDARY-COLOR)
  );
  border-radius: 1.5px;
}

.password-container {
  margin-bottom: 2rem;
  background-color: #f8fafc;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  overflow: hidden;
}

#password {
  width: 100%;
  padding: 1.1rem;
  padding-right: 50px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: #4a5568;
  letter-spacing: 1px;
  outline: none;
}

#copy-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: #718096;
  font-size: 1.1rem;
  border-radius: 50%;
}

#copy-btn:hover {
  color: var(--PRIMARY-COLOR);
}

.options {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  background-color: #f8fafc;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.option:last-child {
  margin-bottom: 0;
}

.option label {
  font-size: 0.9rem;
  font-weight: 700;
  color: #4a5568;
}

.range-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
  width: 50%;
  /* flex-wrap: wrap; */
}

input[type="range"] {
  accent-color: var(--PRIMARY-COLOR);
  height: 10px;
  flex: 1;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid var(--PRIMARY-COLOR);
  cursor: pointer;
  outline: none;
  appearance: none;
  border-radius: 4px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
  background-color: var(--PRIMARY-COLOR);
}

input[type="checkbox"]:checked::after {
  content: "\2714";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 12px;
}

#length-value {
  font-weight: 600;
  color: var(--PRIMARY-COLOR);
  width: 30px;
  text-align: center;
  background-color: #e2e8f0;
  border-radius: 4px;
  padding: 2px 5px;
}

button {
  padding: 1rem;
  width: 100%;
  background: linear-gradient(
    45deg,
    var(--PRIMARY-COLOR),
    var(--SECONDARY-COLOR)
  );
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px rgba(43, 88, 118, 0.4);
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

.strength-container {
  margin-top: 0.8rem;
}

.strength-container p {
  font-size: 0.9rem;
  color: #4a5568;
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

#strength-label {
  color: var(--PRIMARY-COLOR);
  font-weight: 700;
}

.strength-meter {
  height: 10px;
  background-color: #edf2f7;
  border-radius: 5px;
  margin-top: 0.5rem;
  overflow: hidden;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.strength-bar {
  height: 100%;
  width: 0;
  min-width: 5%;
  background-color: var(--WEAK-COLOR);
  border-radius: 4px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    padding: 1.8rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  .option label {
    font-size: 0.9rem;
  }
}
