* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #e3edf7;
}

main {
  width: 200px;
  /* background-color: antiquewhite; */
  height: 200px;
  position: relative;
}

.outer {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  border-radius: 50%;
  position: relative;
  box-shadow:
    6px 6px 10px 1px rgba(0, 0, 0, 0.2),
    -6px -6px 10px 2px rgba(255, 255, 255, 0.5);
  /* border: 1px solid #322; */
}

.inner {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow:
    inset 6px 6px 10px -4px rgba(0, 0, 0, 0.15),
    inset -6px -6px 10px -2px rgba(255, 255, 255, 0.15),
    0.5px 0.5px 10px -4px rgba(0, 0, 0, 0.15),
    -0.5px -0.5px 0px rgba(255, 255, 255, 0.15);
}

p {
  font-size: 1.4rem;
  color: #222;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 30px;
  stroke-dasharray: 530;
  stroke-dashoffset: 530;
  animation: progress 2s linear forwards;
}

svg {
  position: absolute;
  top: 0%;
  left: -0%;
}

@keyframes progress {
  100% {
    stroke-dashoffset: 185;
  }
}
