@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --PRIMARY-COLOR: #2b5876;
  --SECONDARY-COLOR: #4e4376;
  --WEAK-COLOR: #fc8181;
  --MEDIUM-COLOR: #fbd38d;
  --STRONG-COLOR: #68d391;
  --bg-input: #f8fafc;
  --shadow-soft: 0 0 2px 2px rgba(0, 0, 0, 0.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(
    45deg,
    var(--PRIMARY-COLOR),
    var(--SECONDARY-COLOR)
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  padding: 20px;
}

.hidden {
  display: none;
}

main {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

header {
  margin-bottom: 35px;
}

h1 {
  font-size: 2rem;
  color: var(--PRIMARY-COLOR);
  position: relative;
  text-align: center;
}

h1::after {
  content: "";
  width: 200px;
  height: 3px;
  border-radius: 2px;
  background-color: #2b5876;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.input-container {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  border: 1px solid #e2e8f0;
  padding: 1rem;
  border-radius: 8px;
  justify-content: space-between;
  background-color: var(--bg-input);
  box-shadow: var(--shadow-soft);
  gap: 10px;
}

input[type="text"] {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: #4a5568;
  flex: 1;
}

input[type="text"]:focus {
  outline: none;
  border: none;
}

.input-container i {
  font-size: 1rem;
  color: #718096;
  cursor: pointer;
}

#copy-success {
  color: var(--STRONG-COLOR);
  font-size: 1rem;
  transition: all 0.3s ease;
  caret-color: transparent;
}

#copy-btn {
  caret-color: transparent;
}

.option-container {
  background-color: var(--bg-input);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 30px;
}

.option-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--PRIMARY-COLOR);
  align-items: center;
}

.option-group:last-child {
  margin-bottom: 5px;
}

.length-value {
  display: flex;
  gap: 20px;
}

input[type="range"] {
  accent-color: var(--PRIMARY-COLOR);
  cursor: pointer;
}

#password-length-value {
  padding: 3px 6px;
  background-color: #e2e8f0;
  border-radius: 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid var(--PRIMARY-COLOR);
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--PRIMARY-COLOR);
  position: relative;
}

input[type="checkbox"]:checked::after {
  content: "\2714";
  color: #fff;
  /* text-align: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#generate-btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(
    135deg,
    var(--PRIMARY-COLOR),
    var(--SECONDARY-COLOR)
  );
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

#generate-btn:hover {
  transform: translateY(-3px);
}

.password-strength-container {
  display: flex;
  flex-direction: column;
}

.strength-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.strength-bar-container {
  width: 100%;
  height: 8px;
  background-color: #e2e8f0;
  border-radius: 5px;
}

#password-strength {
  font-weight: 700;
}
