* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Backgrounds */
  --bg-app: #06245c; /* dark blue page background */
  --bg-card: #ffffff; /* quiz card */
  --bg-button: #061e4a; /* Next button */

  /* Text */
  --text-primary: #0b1f44; /* main heading & question */
  --text-secondary: #4a5568; /* muted text */
  --text-white: #ffffff;

  /* Borders */
  --border-default: #cfd8e3; /* option borders */
  --border-card: #e2e8f0;

  /* Quiz states */
  --option-correct-bg: #a7e6c1; /* green (correct) */
  --option-correct-border: #3bb273;

  --option-wrong-bg: #ffaaa3; /* red (wrong) */
  --option-wrong-border: #e5534b;

  --option-hover-bg: #f1f5f9; /* hover state */

  /* Shadows */
  --card-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

body {
  background-color: var(--bg-app);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

main {
  width: 100%;
  max-width: 500px;
  display: flex;
  background-color: var(--bg-card);
  padding: 1.5rem;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
}

header {
  font-size: 0.9rem;
  text-align: start;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-button);
}

h1 {
  color: var(--text-primary);
}

.quiz-container {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: start;
  line-height: 1.5;
}

#question {
  font-weight: 600;
  color: var(--text-primary);
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.answer-container {
  margin-bottom: 20px;
  width: 100%;
}

#answer-list {
  list-style-type: none;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.answer {
  border: 1px solid var(--text-primary);
  flex: 1;
  padding: 0.7rem;
  border-radius: 6px;
  cursor: pointer;
  color: var(--text-secondary);
  transition: all 0.3s ease;
}

.answer:hover {
  box-shadow: 0px 0px 3px 2px rgba(11, 31, 68, 0.15);
  /* background-color: var(--option-hover-bg); */
}

#next-btn,
#play-btn {
  width: 150px;
  align-self: center;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: var(--text-primary);
  color: var(--text-white);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

#next-btn:hover,
#play-btn:hover {
  transform: translateY(-3px);
}

.result-container p {
  font-weight: 600;
  color: var(--text-primary);
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.wrong-answer {
  background-color: var(--option-wrong-bg);
  border-color: var(--option-wrong-border);
}

.correct-answer {
  background-color: var(--option-correct-bg);
  border-color: var(--option-correct-border);
}
