* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Backgrounds */
  --bg-app: #2b2b2b; /* dark outer background */
  --bg-card-start: #ffe6e6; /* gradient top */
  --bg-card-end: #ffd6df; /* gradient bottom */
  --bg-control: #ffffff; /* white buttons */

  /* Primary Accent (Pink) */
  --primary-pink: #ff4f8b; /* play button / slider */
  --primary-pink-light: #ff7aa8;

  /* Text */
  --text-primary: #3a3a3a; /* song title */
  --text-secondary: #b4afaf; /* artist name */

  /* Icons */
  --icon-primary: #ff4f8b;
  --icon-muted: #ffffff;

  /* Slider */
  --slider-track: #f3a1bd;
  --slider-thumb: #ffffff;

  /* Borders & Effects */
  --border-soft: rgba(255, 255, 255, 0.6);
  --shadow-soft: 0 2px 10px rgba(255, 79, 139, 0.4);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-app);
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  line-height: 1.5;
}

main {
  width: 100%;
  max-width: 400px;
  text-align: center;
  background-color: var(--bg-card-start);
  padding: 30px 40px;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav button {
  width: 25px;
  height: 25px;
  border: none;
  padding: 20px;
  font-size: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-control);
  box-shadow: var(--shadow-soft);
  color: var(--icon-primary);
  cursor: pointer;
}

.info-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container figure {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 25px;
  border: 8px solid var(--bg-control);
  box-shadow: 0 0 100px 5px rgba(255, 79, 139, 0.4);
}

#song-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#song-name {
  font-size: 1.3rem;
}

.length-container {
  width: 100%;
  margin-bottom: 30px;
}

#song-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  accent-color: var(--primary-pink);
}

#song-range::-webkit-slider-thumb {
  box-shadow: 0 0 1px 5px #fff;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  margin-top: -4px;
  cursor: pointer;
}

#song-range::-webkit-slider-runnable-track {
  background-color: var(--text-secondary);
  border-radius: 8px;
  height: 8px;
}

.song-control-container {
  display: flex;
  justify-content: space-evenly;
  /* gap: px; */
}

.song-control-container button {
  border: none;
  padding: 1.1rem;
  border-radius: 50%;
  color: var(--primary-pink);
  background-color: #fff;
  box-shadow: 0 0 50px 2px rgba(255, 79, 139, 0.4);
  cursor: pointer;
}

.song-control-container button:nth-child(2) {
  transform: scale(1.5);
  background-color: var(--icon-primary);
  color: #fff;
  transition: opacity 0.3s ease;
}

.song-control-container button:nth-child(2):hover {
  opacity: 0.7;
}
